@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.caja {
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    font-family: 'Zeyada', cursive;
}

.perfil {
    width: 172px;
    height: 172px;
    object-fit: cover;
    border-radius: 86px;
    box-shadow: 20px 7px 37px 5px rgb(5, 59, 139)
}

.caja p {
    margin: 0;
}

.caja h1 {
    margin-bottom: 5px;
}

.cubo {
    display: block;
    width: 100%;
    margin-top: 20px;
    overflow: auto;
    box-shadow: 20px 7px 37px 5px rgb(5, 59, 139)
}

.boxing img {
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.boxing {
    width: 30%;
    float: left;
    text-align: left;
    padding: 15px 0;
}

.cubo p {
    text-align: left;
    width: 70%;
    float: left;
    padding-top: 25px;
}

.cubo:hover {
    opacity: 0.5;
}